<a href="/games/<%=game.game_id%>" class="gameDisplay" id="game<%=game.game_id%>">
    <h5><%= game.name %></h5>
    <p><strong>Team size:</strong> <%= game.team_size %></p>
    <p><strong>Match duration:</strong> <%= game.duration %></p>
    <hr>
</a>