<a href="/games/<%=game.game_id%>" class="gameDisplay" id="game<%=game.game_id%>">
<div class="card cardCustom" style="margin-top: 20px;">
    <div class="card-header">
        <h4 style="width: 400px; overflow: hidden; height: 30px;">
            <%= game.name %>
        </h2>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p><strong>Team size:</strong> <%= game.team_size %></p>
        <p><strong>Match duration:</strong> <%= game.duration %></p>
        </blockquote>
    </div>
</div>
</a>