<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>
<div style="display: flex; justify-content: space-around;">
    <a href="/games/<%=gameId%>"><button class="button3">Back</button></a>
</div>
<script src="/public/gameFormValidation.js"></script>
<div class="container px-5 my-5">
    <div class="card cardCustom hiddenCard" style="margin-top: 20px;">
        <div class="card-header">
            <h1>Edit a game</h1>
        </div>
        
        <div class="card-body">
            <form onsubmit="return validateGameForm('editGame')" name="editGame" action="/games/edit/<%=gameId%>" method="post">
                <p>Game name: <input class="form-control" name="name" type="text" value="<%=gameName%>" placeholder="<%=gameName%>"/></p>
                <p id="nameStatus" style="color: red;"><br></p>
                <p>Match duration: <input class="form-control" name="duration" type="text" value="<%=gameDuration%>" placeholder="<%=gameName%>"></p>    
                <p id="durationStatus" style="color: red;"><br></p>
                <p>Team size:<input class="form-control" name="team_size" type="text" value="<%=gameSize%>" placeholder="<%=gameName%>"></p>
                <p id="sizeStatus" style="color: red;"><br></p>
                <button class="button4" id="submitButton" type="submit">Confirm</button>
            </form>
        </div>
    </div>  
</div>
<script src="/public/loadCard.js"></script>
<%- include('../../partials/footer') %>