<%- include('../../partials/head') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <%if (typeof query.messageToShow != 'undefined' ){%>
    <script>
        let lastChangeId = localStorage.getItem("changeId");
        function removeBanner(){
            let banner = document.getElementById("changeBanner");
            banner.classList.add("hiddenBanner1");
            setTimeout(()=>{
                banner.remove()
            }, 500)
            console.log("a")
        }
    </script>
    <div style="display: flex; justify-content: space-around;">
        <div id="changeBanner" class="banner1">

            <p><%=query.messageToShow%></p>
            <div style="display: flex; flex-direction: row;">
                <form action="/other/undo" style="display: inline-block" method="post" name="undoForm">
                    <button class="button4" style="margin-right:10px;">
                        Undo
                    </button>
                    <input type="hidden" name="category">
                    <input type="hidden" name="id">
                    <input type="hidden" name="name">
                    <input type="hidden" name="duration">
                    <input type="hidden" name="team_size">
                </form>
                <button class="button4" onclick="removeBanner()">
                    Hide
                </button>
            </div>
        </div>
    </div>
    <script>
        let form = document.forms["undoForm"];
        let undoData = sessionStorage.getItem(`change${lastChangeId}Data`).split(",");
        console.log(undoData);
        form["category"].value = undoData[0];
        form["id"].value = undoData[1];
        form["name"].value = undoData[2];
        form["duration"].value = undoData[3];
        form["team_size"].value = undoData[4];
    </script>
    <%}%>

    <div style="display: flex; justify-content: space-around;">
        <a href="/games/add"><button class="button3">Add game</button></a>
    </div>
    
    <div class="mainDiv">
        <div class="header">
            <h1 style="margin-left: 10px;">Games</h1>
            <div class="dropdown">
                <button class="button3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu dropDownMenu" onclick="event.stopPropagation()">
                    <li>
                        <hr>
                        <h5 style="text-align: center;">Sort by</h5>
                        <div style="display: flex; flex-direction: column;" id="sortSelection">
                            <div style="display: flex; flex-direction: row;">
                                <button class="dropDownItem" id="nameDropButton">Name</button>
                                <button class="dropDownItem" id="idDropButton">Id</button>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <button class="dropDownItem" id="sizeDropButton">Size</button>
                                <button class="dropDownItem" id="durationDropButton">Duration</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <hr>
                        <h5 style="text-align: center;" id="orderSelection">Order</h5>
                        <div style="display: flex; flex-direction: row;">
                            <button class="dropDownItem" id="ascDropButton">ASC</button>
                            <button class="dropDownItem" id="descDropButton">DESC</button>
                        </div>
                    </li>
                    <hr>
                    <li>
                        <div style="display: flex; flex-direction: row;">
                            <button class="dropDownItem activeDrop" id="confirmDropButton">Confirm</button>
                        </div>
                    </li>
                </ul>
            </div>
            <script src="/public/dropDownSelectGames.js"></script>
        </div>
        <div class="gridContainer" id="gridContainer">
            <% gamesArr.forEach((game)=> { %>
                <%- include('../../partials/gamedisplay', {game: game}) %>
            <% }) %>
            <a href="/games/add" class="gameDisplay hiddenCard">
                <div class="card cardCustom" style="margin-top: 20px;">
                    <div class="card-header">
                        <h4 style="overflow: hidden; height: 30px; text-align: center;">
                            Click to add game
                        </h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p><br></p>
                        <p><br></p>
                        </blockquote>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <script src="/public/cardResizing.js"></script>
    <script src="/public/cardLoading.js"></script>

</body>
<%- include('../../partials/footer') %>