<%- include('../../partials/head') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div style="display: flex; justify-content: space-around;">
        <a href="/games"><button class="button3">Back</button></a>
    </div>
    <div class="container" style="margin-bottom: 20px;">
        <div class="card cardCustom" style="margin-top: 20px;">
            <div class="card-header">
                <h4 style="width: 400px; overflow: hidden; height: 30px;">
                    <%= game.name %>
                </h4>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p><strong>Team size:</strong> <%= game.team_size %></p>
                <p><strong>Match duration:</strong> <%= game.duration %></p>
                </blockquote>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-around;">
        <div>
            <a href="/games/edit/<%=game.game_id%>?gameSize=<%=game.team_size%>&gameName=<%=game.name%>&gameDuration=<%=game.duration%>"><button class="button5">Edit</button></a>
            <a href="/games/delete/<%=game.game_id%>?gameName=<%=game.name%>"><button class="button5">Delete</button></a>
        </div>
    </div>
</body>
<%- include('../../partials/footer') %>