<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<div style="display: flex; justify-content: space-around;">
    <a href="/games/<%=gameId%>"><button class="button1">Back</button></a>
</div>

<h1 style="text-align: center;">ARE YOU SURE YOU WANT TO DELETE</h1>
<h1 style="text-align: center;">"<%=gameName%>"</h1>

<div style="display: flex; justify-content: space-around;">
<form action="/games/delete/<%=gameId%>?gameName=<%=gameName%>" method="post">
    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirm delete</button>
</form>
</div>

<%- include('../partials/footer') %>