<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div style="display: flex; justify-content: space-around;">
    <a href="/games/<%=gameId%>"><button class="button1">Back</button></a>
</div>
<div class="container px-5 my-5">
    <h1>Edit a game</h1>
    <form action="/games/edit/<%=gameId%>" method="post">
        <p>Game name: <input class="form-control" name="name" type="text" value="<%=gameName%>"/></p>
        <p>Match duration: <input class="form-control" name="duration" type="text" value="<%=gameDuration%>"/></p>    
        <p>Team size:<input class="form-control" name="team_size" type="text" value="<%=gameSize%>"/></p>
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirm</button>
    </form>
</div>
<%- include('../partials/footer') %>