<%- include('../partials/head') %>
<%- include('../partials/navbar.ejs') %>
<body>
    <script>
        let columnCount = 2;
    </script>
    <div class="mainDiv" style="margin-top: 50px;">
        <a href="/games/" style="text-decoration: none; font-size: 40px; font-weight: 600; text-align: center; margin-top: 50px;">Games</a>
        <div class="homePageRow">
            <% results.games.forEach((game)=> { %>
                <%- include('../partials/homeGameDisplay.ejs', {game: game}) %>
            <% }) %>
        </div>
        <a href="/players/" style="text-decoration: none; font-size: 40px; font-weight: 600; text-align: center;">Players</a>
        <div>
            <div class="homePageRow">
                <% results.players.forEach((player)=> { %>
                    <%- include('../partials/homePlayerDisplay.ejs', {player: player}) %>
                <% }) %>
            </div>
        </div>
        <script src="/public/cardLoading.js"></script>
    </div>
</body>
<%- include('../partials/footer') %>