<%- include('../partials/head') %>
<%- include('../partials/navbar.ejs') %>
<body>
    <script>
        let columnCount = 2;
    </script>
    <div class="mainDiv" style="margin-top: 50px;">
        <a href="/games/" style="text-decoration: none; font-size: 40px; font-weight: 600; text-align: center; margin-top: 50px; "><h1 style="text-align: left;">Games</h1></a>
        <div class="homePageRow">
            <% results.games.forEach((game)=> { %>
                <%- include('../partials/homeGameDisplay.ejs', {game: game}) %>
            <% }) %>
            <a href="/games/add" class="gameDisplay hiddenCard card cardCustom card2">
                <div class="card-header">
                    <h4 style="overflow: hidden; height: 30px; text-align: center;">
                        Click to add game
                    </h2>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p><br></p>
                    <p><br></p>
                    </blockquote>
                </div>
            </a>
        </div>
        <a href="/players/" style="text-decoration: none; font-size: 40px; font-weight: 600; text-align: center; margin-top: 50px; "><h1 style="text-align: left;">Players</h1></a>
        <div>
            <div class="homePageRow">
                <% results.players.forEach((player)=> { %>
                    <%- include('../partials/homePlayerDisplay.ejs', {player: player}) %>
                <% }) %>

                <a href="/players/add" class="gameDisplay hiddenCard card cardCustom card2">
                    <div class="card-header">
                        <h4 style="overflow: hidden; height: 30px; text-align: center;">
                            Click to add player
                        </h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p><br></p>
                        </blockquote>
                    </div>
                </a>

            </div>
        </div>
        <script src="/public/cardLoading.js"></script>
    </div>
</body>
<%- include('../partials/footer') %>