<%- include('../partials/head') %>
<%- include('../partials/navbar.ejs') %>
<body>
    <div style="display: flex; justify-content: space-around;">
        <a href="/<%=item.category%>"><button class="button1">Back</button></a>
    </div>
    <div class="container">
        <h1 style="text-align: center;"><%=item.name%></h1>
        <p><br></p>
        <!--
            item format

            item = {
                name: "Minecraft",
                id: 12,
                category: games,
                display: [
                    ["team size": 1],
                    ["duration": 1]
                ]
            }
         -->
        <%for (let itemProperty of item.display){%> 
            <h3 style="text-align: center;"><%=itemProperty[0]%>: <%=itemProperty[1]%></p>
         <%}%>
    </div>
    <div style="display: flex; justify-content: space-around;">
        <div>
            <a href="/<%=item.category%>/edit/<%=item.id%>?<%=new URLSearchParams(item.display).toString()%>"><button class="button1">Edit</button></a>
            <a href="/<%=item.category%>/delete/<%=item.id%>?name=<%=item.name%>"><button class="button1">Delete</button></a>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>