<%- include('../../partials/head') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <%if (typeof query.messageToShow != 'undefined' ){%>
    <script>
        function removeBanner(){
            document.getElementById("changeBanner").remove()
        }
    </script>

    <div id="changeBanner" class="banner1">
        <p><%=query.messageToShow%></p>
        <button onclick="removeBanner()">
            X
        </button>
    </div>
    <%}%>
    <div style="display: flex; justify-content: space-around;">
        <a href="/players/add"><button class="button1">Add player</button></a>
    </div>
    
    <div class="mainDiv">
        <div class="header">
            <h1 style="margin-left: 10px;">Players</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu" onclick="event.stopPropagation()">
                    <li>
                        <hr>
                        <h5 style="text-align: center;">Sort by</h5>
                        <div style="display: flex; flex-direction: row;" id="sortSelection">
                            <button class="dropDownItem" id="nameDropButton">Name</button>
                            <button class="dropDownItem" id="idDropButton">Id</button>
                        </div>
                    </li>
                    <li>
                        <hr>
                        <h5 style="text-align: center;" id="orderSelection">Order</h5>
                        <div style="display: flex; flex-direction: row;">
                            <button class="dropDownItem" id="ascDropButton">ASC</button>
                            <button class="dropDownItem" id="descDropButton">DESC</button>
                        </div>
                    </li>
                    <hr>
                    <li>
                        <div style="display: flex; flex-direction: row;">
                            <button class="dropDownItem activeDrop" id="confirmDropButton">Confirm</button>
                        </div>
                    </li>
                </ul>
            </div>
            <script src="/public/dropDownSelect.js"></script>
        </div>
        <div class="gridContainer" id="gridContainer">
            <% playersArr.forEach((player)=> { %>
                <%- include('../../partials/playerdisplay', {player: player}) %>
            <% }) %>
            <a href="/players/add" class="gameDisplay">
                <div class="card" style="margin-top: 20px; background-color: rgb(247, 247, 247);">
                    <div class="card-header">
                        <h4 style="overflow: hidden; height: 30px; text-align: center;">
                            Click to add player
                        </h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p><br></p>
                        </blockquote>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <script src="/public/cardResizing.js"></script>

</body>
<%- include('../../partials/footer') %>