<%- include('../../partials/head') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <%if (typeof query.messageToShow != 'undefined' ){%>
    <script>
        function removeBanner(){
            let banner = document.getElementById("changeBanner");
            banner.classList.add("hiddenBanner1");
            setTimeout(()=>{
                banner.remove()
            }, 500)
            console.log("a")
        }
    </script>
    <div style="display: flex; justify-content: space-around;">
        <div id="changeBanner" class="banner1">
            <p><%=query.messageToShow%></p>
            <div>
                <button class="button4" onclick="removeBanner()" style="height: 30px; width: 50px; padding:0;">
                    Hide
                </button>
            </div>
        </div>
    </div>
    <%}%>
    <div style="display: flex; justify-content: space-around;">
        <a href="/players/add"><button class="button3">Add player</button></a>
    </div>
    
    <div class="mainDiv">
        <div class="header">
            <h1 style="margin-left: 10px;">Players</h1>
            <div class="dropdown">
                <button class="button3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu dropDownMenu" onclick="event.stopPropagation()">
                    <li>
                        <hr>
                        <h5 style="text-align: center;">Sort by</h5>
                        <div style="display: flex; flex-direction: column;" id="sortSelection">
                            <div style="display: flex; flex-direction: row; flex: 1;">
                                <button class="dropDownItem" id="nameDropButton">Name</button>
                                <button class="dropDownItem" id="idDropButton">Id</button>
                            </div>
                            <button class="dropDownItem" id="emailDropButton">Email</button>
                        </div>
                    </li>
                    <li>
                        <hr>
                        <h5 style="text-align: center;" id="orderSelection">Order</h5>
                        <div style="display: flex; flex-direction: row;">
                            <button class="dropDownItem" id="ascDropButton">ASC</button>
                            <button class="dropDownItem" id="descDropButton">DESC</button>
                        </div>
                    </li>
                    <hr>
                    <li>
                        <div style="display: flex; flex-direction: row;">
                            <button class="dropDownItem activeDrop" id="confirmDropButton">Confirm</button>
                        </div>
                    </li>
                </ul>
            </div>
            <script src="/public/dropDownSelectPlayers.js"></script>
        </div>
        <div class="gridContainer" id="gridContainer">
            <% playersArr.forEach((player)=> { %>
                <%- include('../../partials/playerdisplay', {player: player}) %>
            <% }) %>
            <a href="/players/add" class="gameDisplay hiddenCard">
                <div class="card cardCustom" style="margin-top: 20px;">
                    <div class="card-header">
                        <h4 style="overflow: hidden; height: 30px; text-align: center;">
                            Click to add player
                        </h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p><br></p>
                        </blockquote>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <script src="/public/cardResizing.js"></script>
    <script src="/public/cardLoading.js"></script>  

</body>
<%- include('../../partials/footer') %>