<%- include('../../partials/head') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div style="display: flex; justify-content: space-around;">
        <a href="/players" id="backButton"><button class="button3">Back</button></a>
    </div>
    
    <script>
        sessionStorage.setItem("lastOpened","player,<%=player.player_id%>,<%=player.name%>,<%=player.email%>");
        if (sessionStorage.getItem("lastPage") !== window.location.href){
            document.getElementById("backButton").href = sessionStorage.getItem("cameFrom");
        }
    </script>
    <div class="container">
        <div class="card cardCustom hiddenCard" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="card-header">
                <h4 style="width: 400px; overflow: hidden; height: 30px;">
                    <%=player.name%>
                </h4>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p><strong>Email</strong>: <%=player.email%></p>
                </blockquote>   
            </div>
        </div>
        <div style="display: flex; justify-content: space-around;">
            <div>
                <a href="/players/edit/<%=player.player_id%>?playerEmail=<%=player.email%>&playerName=<%=player.name%>"><button class="button5">Edit</button></a>
                <a href="/players/delete/<%=player.player_id%>?playerName=<%=player.name%>"><button class="button5">Delete</button></a>
            </div>
        </div>
    </div>
</body>
<script src="/public/loadCard.js"></script>
<%- include('../../partials/footer') %>